{% extends "base.html" %}
{% block content %}
<h2>➕ Калькулятор</h2>

<form method="post">
    <input type="number" step="any" name="a" placeholder="Первое число" required>
    <select name="op">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input type="number" step="any" name="b" placeholder="Второе число" required>
    <button>Посчитать</button>
</form>

{% if result is not none %}
<p class="result">Результат: <b>{{ result }}</b></p>
{% endif %}
{% endblock %}
